:root {
  --nav-bg: #a6a3a7;
  --nav-button-bg: #cab8ad;
  --body-bg: #f5f7fc;
  --section2-bg: #e3f6e5;
  --text-color: #222222;
  scroll-behavior: smooth;
}

body, .app {
  font-family: 'Lexend', 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  color: var(--text-color);
}