@import '../../../vars.css';

.footer {
    background: var(--nav-bg);
    padding: 2rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer-links a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--text-color);
}

.footer-links a:hover {
    color: white;
}